<footer style="background-color: #000000; color: #ffffff ">
  <div class="container">
    <br>
    <div class="col-sm-2" style="text-align: center;">
      <h5>Copyright &copy; 2017</h5><h5>장건일(Geonil Jang)</h5>
    </div>
    <div class="col-sm-3" style="text-align: center;">
      <h4>장건일</h4>
      <p>한림대학교 4학년에 재학중이며 2018년 2월에 졸업 예정이며, 웹 개발에 관심이 많이 있습니다.</p>
    </div>
    <div class="col-sm-2" style="text-align: center;">
      <h4 style="text-align: center;">내비게이션</h4>
      <div class="list-group">
        <a href="/public/index.html" class="list-group-item">소개</a>
        <a href="/public/export.html" class="list-group-item">경력</a>
        <a href="/public/lecture.html" class="list-group-item">강의</a>
      </div>
    </div>
    <div class="col-sm-2" style="text-align: center;">
      <h4 style="text-align: center;">SNS</h4>
      <div class="list-group">
        <a href="#" class="list-group-item">페이스북</a>
        <a href="#" class="list-group-item">유튜브</a>
        <a href="#" class="list-group-item">네이버</a>
      </div>
    </div>
    <div class="col-sm-3">
      <h4 style="text-align:center"><span class="glyphicon glyphicon-ok"></span>by 장건일</h4>
    </div>
  </div>
</footer>
