<footer style="background-color: #000000; color: #ffffff ">
  <div class="container">
    <br>
    <div class="col-sm-2" style="text-align: center;">
      <h5>Copyright &copy; 2017</h5><h5>장건일(Geonil Jang)</h5>
    </div>
    <div class="col-sm-3" style="text-align: center;">
      <h4>목적</h4>
      <p>이 웹은 현재 한림대학교 4학년에 재학중인 장건일의 정보를 보여주기 위함입니다.</p>
    </div>
    <div class="col-sm-2" style="text-align: center;">
      <h4 style="text-align: center;">내비게이션</h4>
      <div class="list-group">
        <a href="/public/index.html" class="list-group-item">홈</a>
        <a href="/public/project.html" class="list-group-item">프로젝트</a>
        <a href="/public/grade.html" class="list-group-item">성적</a>
      </div>
    </div>
    <div class="col-sm-2" style="text-align: center;">
      <h4 style="text-align: center;">사이트</h4>
      <div class="list-group">
        <a href="http://www.naver.com" class="list-group-item">네이버</a>
        <a href="http://www.google.com" class="list-group-item">구글</a>
        <a href="http://www.daum.net" class="list-group-item">다음</a>
      </div>
    </div>
    <div class="col-sm-3">
      <h4 style="text-align:center"><span class="glyphicon glyphicon-ok"></span>by 장건일</h4>
    </div>
  </div>
</footer>
